*.a
*.dSYM
*.la
*.lo
*.o
*.so
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autoscan.log
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
include/config.h
include/config.h.in
include/stamp-h1
install-sh
library.m4
libtool
ltmain.sh
m4
mickey
missing
src/.deps/
src/.libs
src/Makefile
src/Makefile.in
src/library/.deps
src/library/.dirstamp
src/mickey
work/
