*.a
*.dSYM
*.in
*.la
*.lo
*.log
*.o
*.so
*.trs
Makefile
aclocal.m4
autom4te.cache
compile
config.guess
config.status
config.sub
configure
debug
depcomp
include/config.h
include/stamp-h1
install-sh
library.m4
libtool
ltmain.sh
m4
missing
release
src/.deps/
src/.libs
src/Makefile
src/library/.deps
src/library/.dirstamp
src/mickey
test-driver
work/
